<div style="background:url({{STATIC_URL}}img/bgnoise.png);">
   <div class="container" id="recipeinfo">
                <div class="row-fluid">
                  <a href="{%url home%}">    <img style="float:left;margin-left:6%;" src="{{STATIC_URL}}img/foode.png" height="45" width="135" title="Explore & Eat the Best"> </a>
                  <div class="span8"  style="padding-top:2%;">

                       <div class="input-append">
                       <form id="search-form"  style="" class="form-horizontal" method="POST" action="/restaurants/">
                        {% csrf_token %} 
           <input id="sbox" class="input-xxlarge span6" style="margin-left:20%;" type="text" placeholder="Search Food" name="fooditem" value="{{menuitem}}" autocomplete="off">

                                         <input id="locbox" style="position:overlap;" type="text" class="hide input-medium" placeholder="Enter Location" name="location" value="{{location}}" autofocus="autofocus" />

              <input type="text" id="longi" class="input-medium hide" name="longitude" value=""/>
                           <input type="text" id="lati" class="input-medium hide" name="latitude" value=""/>
                           <button class="btn btn-info " type="submit" style="height:4%;"><i class="icon-search icon-white"></i></button>
                        <a style="" class="btn btn-success" id="changeloc" href="#" title="Change Location"><i class="icon-map-marker icon-white"></i></a>
                         </form>
                       </div>

                   </div>
                  
     </div>     </div>
    
</div>
<div style="background:url({{STATIC_URL}}img/vegbg.jpg);min-height:620px;height:auto;">
<div class="container">
  {% if restaurants %}

             
<br>
           <div class="span8 offset2 animated fadeInLeft">
{% for data in restaurants %}

 <table class="table table-bordered" style="background:white;">
                {% for key,value in data.items %}
                {%ifequal key "restaurant"%}<tr>
                    <td colspan="3">
                        <h4><a href="/{{value.get_slug_name}}" style="display:inline;float:left;">{{ value.name }}</a></h4><span style="display:inline;float:right;color:green;">{{data.items.0.0}}&nbsp&nbsp<div style="display:inline;float:right;" class="rstar" rating="{{data.items.0.1}}"></div></span></td> </tr> 
                
                 <tr>   <td> <i class="icon-info-sign icon-black"></i> {{ value.phone }}</td><td><i class="icon-time icon-black"></i> {{value.hours}}</td></tr>
                                 <tr>    <td colspan="2"><a target="_blank" href="http://maps.google.com/maps?q={{value.address}}"> <i class="icon-map-marker icon-black"></i> {{ value.address }}</a></td></tr>

                       {%endifequal%}



                      
                          {%endfor%}   
               {% endfor %}               
                   </table>        


    {% else %}
        <h3 class="span6 offset3 thumbnail" align="center" style="background:white;margin-top:20%;text-align:center;"> No restaurants found</h3>
    {% endif %}

    </div>
    </div>
