<br><br><br>
       <div class="container" style="min-height:500px;">
              
               <div class="row-fluid">

                  <div class="span12" align="center" style="margin-top:4%;">
                                         <img src="{{STATIC_URL}}img/foode.png" height="195" width="300" title="Explore & Eat the Best"> 
                       <div class="input-append" style="margin-top:4%;">

                       <form id="search-form" class="form-horizontal" method="POST" action="/restaurants/">
 {% csrf_token %} 
                          <input id="sbox" class="xlarge span6" type="text" value="" placeholder="Enter Food Item or Cuisine or Restaurant " name="fooditem" style="height:4%;width:50%;" autofocus="autofocus" data-provide="typeahead" autocomplete="off" />
                           <input type="text" class="hide input-medium" name="location" value="My Location"/>
                           <input type="text" id="longi" class="input-medium hide" name="longitude" value=""/>
                           <input type="text" id="lati" class="input-medium hide" name="latitude" value=""/>
                           <button class="btn btn-info" type="submit" title="Find the Best in Town"><i class="icon-search icon-white"></i></button>
                       </form>
                       </div>
                   </div>
               
             </div>
        </div>

<div class="legal container">
 <div class="foot" align="center">
          <a href="/add/" style="text-decoration:none;"><p>Add a Restaurant</p></a>


 </div>   

</div>
