<br><br><br>
       <div class="container" style="min-height:100%;">
               <div class="row-fluid"  align="center">
                <p style="position:relative;font-size:120px;color:green;" title="Explore & Eat the Best">foode</p>
               </div>
               <div class="row-fluid">
                   <div class="span12" align="center" style="margin-top:20%;">
                       <div class="input-append">

                       <form id="search-form" class="form-horizontal" method="GET" action="/restaurants/">

                          <input id="sbox" class="xlarge span6" type="text" value="" placeholder="Enter Food Item" name="fooditem" style="height:4%;width:50%;" autofocus="autofocus" data-provide="typeahead" autocomplete="off" />
                           <button class="btn btn-info" type="submit" style="height:4%;" title="Find the Best in Town"><i class="icon-search icon-white"></i></button>
                       </form>
                       </div>
                   </div>
               
             </div>
        </div>

<div class="legal container" style="height=100px;">
 <div class="foot" style="text-align:center;">
          <a href="/add/" style="text-decoration:none;"><h5>Add a Restaurant</h5></a>


 </div>   

</div>
