{% load i18n %}
{% load bootstrap_tags %}
     
      <div class="container">
   
      
    <div class="row">
   <div class="span12" style="background:white;" align="center">
   <br>                   <a href="{%url home %}">   <img src="{{STATIC_URL}}img/foode.png" height="60" width="150" title="Explore & Eat the Best"></a> <br><hr/>
    <form enctype="multipart/form-data" method="POST" action="" class="form-vertical" >
       {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ restaurant_form|as_bootstrap }}
            <div>
                <input type="submit" class="btn btn-success" value="{% trans 'Add' %}">
                <a href="{% url home %}" class="btn" >Cancel</a> 
            </div>
        </fieldset>
    </form>

</div>
  </div>
