<div class="container" id="recipeinfo">
                <div class="row-fluid"><a href="{%url home %}">  
                 <img style="float:left;margin-top:3%;" src="{{STATIC_URL}}img/foode.png" height="60" width="65" title="Explore & Eat the Best"></a>
                  <div class="span8" align="center" style="padding-top:3%;">

                       <div class="input-append">
                       <form id="search-form"  class="form-horizontal" method="POST" action="{% url restaurants %}">
                       {% csrf_token %} 
           <input id="sbox" class="input-medium" type="text" placeholder="Search Food" name="fooditem" value="{{menuitem}}" autocomplete="off">

              <input id="locbox" type="text" class="hide input-medium" name="location" value="My Location" placeholder="Enter Location" autofocus="autofocus"/>
                           <input type="text" id="longi" class="input-medium hide" name="longitude" value=""/>
                           <input type="text" id="lati" class="input-medium hide" name="latitude" value=""/>
                           <button class="btn btn-info" type="submit"><i class="icon-search icon-white"></i></button>
                   </form>
                       </div>

                   </div>
                   
     </div>     </div>
    

<div class="container">
              

           <div class="span12" >
                    <div id="dispinfo" align="center">

                                      <h4 style="color:green;">    {{ restaurant.name }}</h4>
                                      <p> <i class="icon-time icon-black"></i> {{restaurant.hours}}</p>
                                      <p> <i class="icon-info-sign icon-black"></i> {{restaurant.phone}}</p>
                                      <p style=""><a target="_blank" href="http://maps.google.com/maps?q={{restaurant.address}}">   <i class="icon-map-marker icon-black"></i> {{ restaurant.address }}</a></p>

                     </div>
           </div>
                  


</div>

               <div class="span12">                                    

                   <div id="menucontent" class=""  style="min-height:400px;height:auto;">
                          <div id="menuresult" class=" hide" align="center" style="padding-top:130px;"><h3 style="text-align:center;" >Menu Book is empty</h3> 


                                     <a class="btn primary" href="{% url edit_restaurant restaurant.id %}"> <i class="icon-edit icon-black"></i> Update</a>
                                   

                       
</div>
                                
                                   
                         <div id="menutable" class="menutable-template" align="center"> 
                               <h4 style="text-align:center;"></h4>
                                <table class="table table-bordered" style="background:;">
                                 
                                   <tr class="micon">
                                     <td class="itname">
                                        <a style="color:green;text-decoration:none;" class="itname"></a>
                                     </td> 


                                    <td class="rstar"></td>
                                   </tr>
                                </table>
                         </div> 
                          <div align="center">  <a id="plusitems" href="#addmenuitems" class="btn btn-primary hide"><i class="icon-plus icon-white"></i> Food</a><div><br>
                        </div>
                        <div id="addmenuitems" class="hide">
                              <div class="catg" id="menuitems_content">
                                       <form id="menuitemsform" class="inputmenuitems" method="POST" action="{% url menuitem restaurant.id %}">
                                          <div class="additems-template">
                                             <h4></h4>
                                             <p class="new-fooditems"></p><hr/>
                                          </div> 
                                       </form>
                              </div>
                              <div>
                              <a class="btn btn-primary hide" href="#" id="doneitems">Done</a> 
                              <a class="btn" href="#menutable" id="canceladd">Cancel</a>
                              </div><br>

                   </div>
               
           </div>
    </div>
    

