{%extends "home.html"%}
{% load i18n %}
{% load bootstrap_tags %}
{% block title%}Foode - {{restaurant.name}}{%endblock%}
{% block headextra %}

<script>
var rest_id = {{restaurant.id}};

</script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/raty/js/jquery.raty.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pure_min.js"></script>
{% if flavour == "mobile" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/mobile.detail.js"></script>
{%else%}
<script type="text/javascript" src="{{ STATIC_URL }}js/detail.js"></script>
{%endif%}
{%endblock%}


{% block body %}
{% if flavour == "mobile" %}
        {%include "restaurants/mobile/detmobile.html"%}
       {%else%}
        {%include "restaurants/desktop/detdesktop.html"%}
       {%endif%}
{% endblock %}


</html>
