{% extends "home.html" %}

{% load i18n %}


{% block body %}
   {% if flavour == "mobile" %}
        {%include "restaurants/mobile/resmobile.html"%}
       {%else%}{%include "restaurants/desktop/resdesktop.html"%}
       {%endif%}
{% endblock %}

{%block bodyextra%}
<script type="text/javascript" src="{{ STATIC_URL }}js/raty/js/jquery.raty.js"></script>
<script>
$('.rstar').raty({
     readOnly:true,
     start: function() {
     return $(this).attr('rating');
  },
});

$('#changeloc').click(function(){
$(this).hide();
{% if flavour == "mobile" %}
$('#sbox').hide();
{%else%}
$('#sbox').removeClass('span6');
$('#sbox').addClass('span4');
$('#sbox').addClass('animated flip');
$('#locbox').addClass('animated bounceInLeft');

{%endif%}
$('#locbox').show();
});
</script>

{%endblock%}

